@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Welcome to Small Bussiness Hub</h1>
        <p class="lead">
            Manage your products, employees, and customers – all in one place.
            Small Bussiness Hub  helps small business owners save time, reduce errors, and stay organized with a powerful, easy-to-use platform.
            Whether you're running a shop, a service, or a growing team, Small Bussiness Hub  gives you the tools to track what matters and make 
            smarter decisions.
        </p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Track Your Inventory</h2>
            <p>
                Keep a clear, organized record of employee roles, schedules, and performance — all in one place.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Connect with Customers</h2>
            <p>Build stronger customer relationships with contact management and order history tracking built right in.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Manage Employees</h2>
            <p>Build stronger customer relationships with contact management and order history tracking built right in.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>